<a href="https://colab.research.google.com/github/ericyun95/recsys_project/blob/main/CP2_Base_model_CB(Content_Based).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import files

In [ ]:
files.upload();

Saving movies.csv to movies.csv
Saving ratings.csv to ratings.csv
Saving users.csv to users.csv

In [ ]:
df = pd.read_csv('movies.csv')
df.head()

,movie_id,movie_title,release_date,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story,1995-01-01,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye,1995-01-01,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms,1995-01-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty,1995-01-01,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat,1995-01-01,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
# 컨텐츠의 특성(장르)에 관한 유사도 구하기 위해 나머지를 제거
df_vector = df.drop(columns = ['movie_id', 'movie_title', 'release_date'])

In [ ]:
df_vector.head()

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
df_cosine = pd.DataFrame(cosine_similarity(df_vector, df_vector))

In [ ]:
df_cosine.head()

,0,1,2,3,4,5,6,7,8,9,...,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680
0,1.000000,0.000000,0.00000,0.333333,0.000000,0.00000,0.000000,0.666667,0.00000,0.000000,...,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.000000,0.000000,0.57735,0.00000
1,0.000000,1.000000,0.57735,0.333333,0.333333,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.816497,0.00000,0.00000,0.00000,0.00000,0.00000,0.408248,0.000000,0.00000,0.00000
2,0.000000,0.577350,1.00000,0.000000,0.577350,0.00000,0.000000,0.000000,0.00000,0.000000,...,0.707107,0.00000,0.00000,0.00000,0.00000,0.00000,0.707107,0.000000,0.00000,0.00000
3,0.333333,0.333333,0.00000,1.000000,0.333333,0.57735,0.408248,0.666667,0.57735,0.408248,...,0.408248,0.57735,0.57735,0.57735,0.57735,0.57735,0.000000,0.408248,0.57735,0.57735
4,0.000000,0.333333,0.57735,0.333333,1.000000,0.57735,0.408248,0.333333,0.57735,0.408248,...,0.408248,0.57735,0.57735,0.57735,0.57735,0.57735,0.408248,0.408248,0.00000,0.57735

In [ ]:
a = df_cosine[0].sort_values(ascending = False)

In [ ]:
a

0       1.000000
420     1.000000
94      0.866025
1217    0.866025
242     0.816497
          ...
694     0.000000
692     0.000000
691     0.000000
689     0.000000
1680    0.000000
Name: 0, Length: 1681, dtype: float64

In [ ]:
def content_based(movie_id):
  # 코사인 유사도로 총 6개(검색하는 영화 제거용)
  recommend_list = df_cosine[movie_id-1].sort_values(ascending = False)[:6]
  recommend_list = recommend_list.drop(axis = 0, index = movie_id-1)
  # 유사 영화 인덱스와 유사도 값 저장
  recommend_index = list(recommend_list.index)
  similarity_values = recommend_list.values
  # 유사 영화 이름과 id 가져오기
  movie_list = df[['movie_id', 'movie_title']].loc[recommend_index]
  # 유사도 첨부
  movie_list['similarity'] = similarity_values
  return movie_list

In [ ]:
content_based(1)

      movie_id                      movie_title  similarity
420        422  Aladdin and the King of Thieves    1.000000
94          95                          Aladdin    0.866025
1217      1219                   Goofy Movie, A    0.866025
242        243                    Jungle2Jungle    0.816497
621        623           Angels in the Outfield    0.816497

장르의 유사도에 따라 표시한 것으로 추천시스템의 평가지표 추측

: 영화를 본 사용자가 준 별점에 비교해 위의 추천 영화에 대해서는 별점을 얼마나 줬는가?

생각해볼 점.

1. 위 5개 영화에 대해 별점 데이터가 누락되거나 없는 경우
2. 사용자 개인으로 볼지 전체로 볼지.(추천 시스템은 항상 유저에 제공되기 때문에)  
  2-1 개인으로 보는 경우:  
     사용자 A가 영화 a에 대해 평점 n 을 줬으면, 위의 추천영화 리스트에 대해서 준 평점이 이와 비슷한가?  
     만약 위 영화 5개의 평점 데이터에 누락이 있다면?  
  2-2 전체로 보는 경우:  
   위 경우의 평균 or 다른 모델에 쓰이는 평가지표 적용(baseline 의의)

In [ ]:
#장르의 유사도에 따라 표시한 것으로 평가지표 - 사용자가 위의 추천 영화에 대해 별점을 얼마나 줬는가?