In [1]:
from google.colab import files

In [2]:
import pandas as pd
import numpy as np

In [4]:
files.upload();

Saving u.data to u.data

In [5]:
df = pd.read_csv('u.data', sep = '\t', header = None)

In [6]:
df.head

<bound method NDFrame.head of          0     1  2          3
0      196   242  3  881250949
1      186   302  3  891717742
2       22   377  1  878887116
3      244    51  2  880606923
4      166   346  1  886397596
...    ...   ... ..        ...
99995  880   476  3  880175444
99996  716   204  5  879795543
99997  276  1090  1  874795795
99998   13   225  2  882399156
99999   12   203  3  879959583

[100000 rows x 4 columns]>

In [7]:
df.columns = ['user_id', 'item_id', 'rating', 'timestamp']

In [8]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [10]:
df['timestamp']

0        881250949
1        891717742
2        878887116
3        880606923
4        886397596
           ...
99995    880175444
99996    879795543
99997    874795795
99998    882399156
99999    879959583
Name: timestamp, Length: 100000, dtype: int64

In [15]:
from datetime import datetime
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')

In [16]:
df.head()

   user_id  item_id  rating           timestamp
0      196      242       3 1997-12-04 15:55:49
1      186      302       3 1998-04-04 19:22:22
2       22      377       1 1997-11-07 07:18:36
3      244       51       2 1997-11-27 05:02:03
4      166      346       1 1998-02-02 05:33:16

In [19]:
df.rating.unique()

array([3, 1, 2, 4, 5])

In [23]:
df.isnull().sum()

user_id      0
item_id      0
rating       0
timestamp    0
dtype: int64

In [25]:
df.duplicated().sum()

0

In [26]:
files.upload();

Saving README to README
Saving u.data to u (1).data
Saving u.genre to u.genre
Saving u.info to u.info
Saving u.item to u.item
Saving u.occupation to u.occupation
Saving u.user to u.user
Saving u1.base to u1.base
Saving u1.test to u1.test
Saving u2.base to u2.base
Saving u2.test to u2.test
Saving u3.base to u3.base
Saving u3.test to u3.test
Saving u4.base to u4.base
Saving u4.test to u4.test
Saving u5.base to u5.base
Saving u5.test to u5.test
Saving ua.base to ua.base
Saving ua.test to ua.test
Saving ub.base to ub.base
Saving ub.test to ub.test

In [31]:
import chardet

with open('u.item', 'rb') as f:
  enc = chardet.detect(f.read())

In [33]:
enc

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [216]:
# chardet 안쓰면 인코더(utf-8)로 안 읽힘 - chardet: 읽어보고 가능한 인코딩 알아주는 기능
df_item = pd.read_csv('u.item', header = None, encoding = enc['encoding'], sep = '|')
df_item.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [217]:
item_columns = ['movie_id', 'movie_title', 'release_date',  'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", "Comedy", "Crime", "Documentary",
                "Drama", 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [218]:
df_item.columns = item_columns

In [219]:
df_item[df_item['release_date'].isnull()]

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
266,267,unknown,NaN,NaN,NaN,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [220]:
df_item = df_item.drop(columns = ['video_release_date', 'IMDb_URL'])

In [221]:
df_item = df_item.drop(axis = 0, index =266)

In [222]:
df_item['movie_title'] = df_item['movie_title'].str[:-7]

In [223]:
df_item['release_date'].str[3:6].unique()

array(['Jan', 'Aug', 'Oct', 'Feb', 'Mar', 'May', 'Jun', 'Apr', 'Jul',
       'Sep', 'Nov', 'Dec', 'eb-'], dtype=object)

In [224]:
df_item.loc[1372,'release_date'] = '04-Feb-1971'

In [225]:
df_item.loc[1372,'release_date']

'04-Feb-1971'

In [226]:
df_item['release_date'].str[3:6].unique()

array(['Jan', 'Aug', 'Oct', 'Feb', 'Mar', 'May', 'Jun', 'Apr', 'Jul',
       'Sep', 'Nov', 'Dec'], dtype=object)

In [227]:
df_item['release_date'].str[:2].unique()

array(['01', '22', '14', '30', '29', '05', '16', '23', '08', '24', '12',
       '19', '26', '10', '07', '28', '03', '21', '06', '04', '20', '11',
       '18', '15', '27', '13', '02', '09', '25', '17', '31'], dtype=object)

In [228]:
df_item['release_date'].str[-4:].unique()

array(['1995', '1996', '1994', '1967', '1977', '1993', '1965', '1982',
       '1990', '1992', '1991', '1937', '1997', '1981', '1970', '1972',
       '1961', '1939', '1941', '1968', '1969', '1954', '1971', '1988',
       '1973', '1979', '1987', '1986', '1989', '1974', '1980', '1985',
       '1966', '1957', '1960', '1984', '1983', '1975', '1998', '1940',
       '1950', '1964', '1951', '1962', '1933', '1956', '1963', '1958',
       '1945', '1976', '1978', '1959', '1942', '1953', '1946', '1955',
       '1938', '1934', '1949', '1948', '1943', '1944', '1936', '1935',
       '1930', '1952', '1931', '1922', '1947', '1932', '1926'],
      dtype=object)

In [229]:
month = {
    'Jan' : '01',
    'Feb' : '02',
    'Mar' : '03',
    'Apr' : '04',
    'May' : '05',
    'Jun' : '06',
    'Jul' : '07',
    'Aug' : '08',
    'Sep' : '09',
    'Oct' : '10',
    'Nov' : '11',
    'Dec' : '12'
}

In [235]:
month_numed = pd.Series([month[x] for x in df_item['release_date'].str[3: 6]])

In [236]:
len(df_item)

1681

In [237]:
len(month_numed)

1681

In [240]:
df_item['release_date'].tail()

1676    06-Feb-1998
1677    06-Feb-1998
1678    01-Jan-1998
1679    01-Jan-1994
1680    08-Mar-1996
Name: release_date, dtype: object

In [239]:
df_item.reset_index(inplace=True)

In [241]:
month_numed.tail()

1676    02
1677    02
1678    01
1679    01
1680    03
dtype: object

In [210]:
month_numed.unique()

array(['01', '08', '10', '02', '03', '05', '06', '04', '07', '09', '11',
       '12'], dtype=object)

In [242]:
df_item['release_date'] = df_item['release_date'].str[-4:]+month_numed+df_item['release_date'].str[:2]

In [243]:
df_item['release_date'] = pd.to_datetime(df_item['release_date'], format = '%Y%m%d')

In [244]:
df_item.tail()

,index,movie_id,movie_title,release_date,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1676,1677,1678,Mat' i syn,1998-02-06,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1677,1678,1679,B. Monkey,1998-02-06,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1678,1679,1680,Sliding Doors,1998-01-01,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1679,1680,1681,You So Crazy,1994-01-01,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1680,1681,1682,Scream of Stone (Schrei aus Stein),1996-03-08,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [247]:
df.describe()

            user_id        item_id         rating
count  100000.00000  100000.000000  100000.000000
mean      462.48475     425.530130       3.529860
std       266.61442     330.798356       1.125674
min         1.00000       1.000000       1.000000
25%       254.00000     175.000000       3.000000
50%       447.00000     322.000000       4.000000
75%       682.00000     631.000000       4.000000
max       943.00000    1682.000000       5.000000

In [250]:
df_item[['unknown', 'Action',
       'Adventure', 'Animation', "Children's", 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical',
       'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']].describe()

,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
count,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000,1681.000000
mean,0.000595,0.149316,0.080309,0.024985,0.072576,0.300416,0.064842,0.029744,0.431291,0.013087,0.014277,0.054729,0.033314,0.036288,0.146936,0.060083,0.149316,0.042237,0.016062
std,0.024390,0.356506,0.271852,0.156126,0.259516,0.458576,0.246321,0.169931,0.495404,0.113683,0.118667,0.227519,0.179507,0.187061,0.354148,0.237712,0.356506,0.201189,0.125751
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [253]:
df_user = pd.read_csv('u.user', header = None, sep = "|")

In [254]:
df_user.head()

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

In [256]:
usercol = ['user_id','age','gender','occupation','zip_code']
df_user.columns = usercol
df_user.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [257]:
df_user.isnull().sum()

user_id       0
age           0
gender        0
occupation    0
zip_code      0
dtype: int64

In [258]:
df_user.duplicated().sum()

0

In [259]:
len(df.user_id.unique())

943

In [260]:
len(df_user.user_id.unique())

943

In [262]:
df_user.gender.unique()

array(['M', 'F'], dtype=object)

In [263]:
df_user.occupation.unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)